<% var data = {
  title: "Заголовок | Проект",
  author: "Harrix"
}; %>

<%= _.template(require('./../includes/head.html').default)(data) %>
<body>
  <div class="main">
    <%= _.template(require('./../includes/header.html').default)(data) %>
    <%= _.template(require('./../includes/hero.html').default)(data) %>
    <%= _.template(require('./../includes/features.html').default)(data) %>
  </div>

  <div class="main-dark">
    <div class="main-dark__small">
    <%= _.template(require('./../includes/plan.html').default)(data) %>
      <%= _.template(require('./../includes/network.html').default)(data) %>
    </div>
    <div class="main-dark__medium">
      <%= _.template(require('./../includes/partners.html').default)(data) %>
    </div>
    <div class="main-dark__large">
      <%= _.template(require('./../includes/customers.html').default)(data) %>
    </div>
  </div>
  <%= _.template(require('./../includes/subscribe.html').default)(data) %>
  <%= _.template(require('./../includes/footer.html').default)(data) %>
  <script src="js/bundle.js"></script>
</body>
</html>


