$gray: #4F5665;
$medium-grey: #DDDDDD;
$light-grey: #F6F6F6;
$grey-lighten: #AFB5C0;
$medium-grey-lighten: #F8F8F8;
$light-grey-lighten: #DDE0E4;
$black: #0b132a;
$red: #F53855;
$light-red: #F53838;
$white: #FFFFFF;
$cream: #EEEFF2;
$dark-grey: #dddddd;
