@import "./reset.scss";
@import "./fonts.scss";
@import "./colors.scss";
@import "./media.scss";

* {
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
}

.main {
  width: 100%;
  max-width: 1145px;
  margin: auto;
  padding: 45px 10px 0px 10px;
  min-width: 320px;
  @include respond-to(medium-screens) {
    padding: 0;
  }

  &-dark {
    background: linear-gradient(180deg, #F8F8F8 -45.04%, rgba(248, 248, 248, 0) 88.56%);
    width: 100%;
    &__small {
      width: 100%;
      max-width: 1090px;
      margin: auto;
      @include respond-to(medium-screens) {
        padding: 0 15px;
      }
    }

    &__medium {
      width: 100%;
      max-width: 1135px;
      margin: auto;
    }

    &__large {
      position: relative;
      width: 100%;
      max-width: 1140px;
      margin: auto;
    }
  }
}

.header {
  width: 100%;
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  @include respond-to(medium-screens) {
      display: none;
  }
  &--mobile {
    display: none;
    height: 64px;
    padding: 0px 10px 0px 10px;
    box-shadow: 0px 15px 54px rgba(13, 16, 37, 0.05);
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $gray;
    @include respond-to(medium-screens) {
      display: flex;
    }

    &__logo {
      width: 100%;
      max-width: 149px;
      min-width: 149px;
      height: 37px;
      background-image: url("../img/logo.png");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__logo {
    width: 100%;
    max-width: 149px;
    min-width: 149px;
    height: 37px;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  &__menu {
    width: 100%;
    max-width: 451px;
    min-width: 451px;
    &--mobile {
      display: none;
      width: 100%;
      background-color: $white;
      padding: 15px;
      position: absolute;
      left: 0;
      top: 64px;
      & ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0;
        padding-left: 0;
        & li {
          margin-bottom: 40px;
          & a {
            text-decoration: none;
            font-size: 24px;
            line-height: 19px;
            color: $gray;
          }
        }
      }
    }

    & ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding-left: 0;
      & li {
        margin-right: 40px;
        & a {
          text-decoration: none;
          font-size: 16px;
          line-height: 19px;
          color: $gray;
        }
      }
    }
  }

  &__sign {
    display: flex;
    min-width: 233px;
    &-in {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: $black;
      margin-right: 30px;
      &--mobile {
        font-size: 24px;
      }
    }

    &-up {
      padding: 13px 45px;
      color: $red;
      border: 1px solid $red;
      border-radius: 50px;
      &--mobile {
        font-size: 24px;
      }
    }
  }
}

.hero {
  padding-top: 88px;
  @include respond-to(medium-screens) {
    padding: 45px 10px 0px 10px;
  }

  &__sides-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include respond-to(medium-screens) {
      flex-direction: column-reverse;
    }
  }
  &__left-side {
    width: 100%;
    max-width: 555px;
    @include respond-to(medium-screens) {
      max-width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__heading {
    color: $black;
    font-weight: 500;
    font-size: 50px;
    line-height: 70px;
    @include respond-to(medium-screens) {
      font-size: 35px;
      line-height: 50px;
      text-align: center;
    }
    & span {
      font-weight: bold;
    }
  }

  &__description {
    margin-top: 20px;
    font-size: 16px;
    line-height: 30px;
    color: $gray;
    @include respond-to(medium-screens) {
      text-align: center;
    }
  }

  &__get-started {
    background-color: $light-red;
    border-radius: 10px;
    color: $white;
    padding: 18px 78px;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    box-shadow: 0px 15px 54px rgba(245, 56, 56, 0.35);
    margin-top: 50px;
  }

  &__right-side {
    width: 100%;
    max-width: 611px;
    height: 382px;
    background-image: url("../img/hero.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include respond-to(medium-screens) {
      max-width: 400px;
      height: 200px;
    }
  }

  &__descriptions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    box-shadow: 0px 15px 54px rgba(13, 16, 37, 0.35);
    border-radius: 10px;
    margin-top: 103px;
    height: 200px;
  }

  &__description-item {
    width: 100%;
    max-width: 273px;
    display: flex;
    align-items: center;
    border-right: 2px solid $cream;
    height: 125px;
    padding: 0px 5px 0px 5px;
    @include respond-to(medium-screens) {
      flex-direction: column;
    }
    &:last-child {
      border: none;
    }
    & img {
      width: 55px;
      height: 55px;
      @include respond-to(medium-screens) {
        margin: auto;
        margin-bottom: 10px;
      }
    }
  }

  &__subtitle {
    margin-left: 35px;
    @include respond-to(medium-screens) {
      margin-left: 0;
      text-align: center;
    }

    & h4 {
      font-weight: bold;
      font-size: 25px;
      color: $black;
      padding-bottom: 5px;
      @include respond-to(medium-screens) {
        font-size: 18px;
      }
    }

    & p {
      font-size: 20px;
      color: $gray;
      @include respond-to(medium-screens) {
        font-size: 16px;
      }
    }
  }
}

.features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 54px 0px 131px 0px;
  @include respond-to(medium-screens) {
    flex-direction: column;
    padding-bottom: 90px;
    padding: 54px 5px 131px 5px;
  }

  & img {
    width: 100%;
    max-width: 508px;
    height: 414px;
    @include respond-to(medium-screens) {
      height: auto;
    }
  }

  &__descriptions {
    & h2 {
      font-size: 35px;
      line-height: 50px;
      color: $black;
      width: 100%;
      max-width: 383px;
      @include respond-to(medium-screens) {
        max-width: 100%;
        text-align: center;
      }
    }
    & p {
      font-size: 16px;
      line-height: 30px;
      color: $gray;
      margin-top: 20px;
      max-width: 427px;
      @include respond-to(medium-screens) {
        max-width: 100%;
        text-align: center;
        font-size: 20px;
        padding: 0px 45px;
      }
    }
    & ul {
      margin-top: 20px;
      @include respond-to(medium-screens) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      & li {
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 30px;
        color: $gray;
        margin-bottom: 15px;
        @include respond-to(medium-screens) {
          font-size: 18px;
        }
        & img {
          width: 35px;
          height: 35px;
          padding-right: 10px;
        }
      }
    }
  }
}

.plan {
  padding-top: 80px;

  & h2 {
    font-size: 35px;
    line-height: 50px;
    color: $black;
    text-align: center;
  }

  & p {
    font-size: 16px;
    line-height: 30px;
    color: $gray;
    max-width: 555px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    font-weight: 300;
  }

  &__wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    @include respond-to(medium-screens) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__item-banner {
    display: block;
    width: 100%;
    max-width: 144px;
    margin: auto;
    margin-top: 80px;
    transition: all 0.3s ease 0s;
    @include respond-to(medium-screens) {
      max-width: 250px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 330px;
    height: 760px;
    border: 2px solid #dddddd;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    @include respond-to(medium-screens) {
      max-width: 100%;
      height: auto;
      margin-top: 20px;
    }

    &:hover {
      border-color: $light-red;
      & button {
        background-color: $light-red;
        box-shadow: 0px 15px 20px rgba(245, 56, 56, 0.35);
        color: #fff;
        transform: translateY(-7px);
      }
    }

    & h4 {
      font-size: 18px;
      line-height: 30px;
      color: $black;
      text-align: center;
      margin-top: 30px;
      & span {
        color: $gray;
      }
      @include respond-to(medium-screens) {
        font-size: 35px;
      }
    }

    & ul {
      width: 100%;
      max-width: 200px;
      margin: auto;
      margin-top: 30px;
      @include respond-to(medium-screens) {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
      }
    }

    & li {
      display: flex;
      align-items: center;
      font-size: 14px;
      line-height: 30px;
      color: $gray;
      margin-bottom: 10px;
      @include respond-to(medium-screens) {
        font-size: 18px;
      }
      & img {
        margin-right: 20px;
      }
    }

    &-footer {
      display: flex;
      flex-direction: column;

      & h4 {
        font-size: 25px;
        line-height: 30px;
        color: $black;
        margin-bottom: 20px;
      }

      & button {
        border-radius: 50px;
        border: 2px solid $light-red;
        color: $light-red;
        padding: 13px 62px;
        margin: auto;
        margin-bottom: 50px;
        transition: all 0.3s ease 0s;
      }
    }
  }
}

.network {
  margin-top: 160px;
  & h2 {
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    color: $black;
    width: 100%;
    max-width: 383px;
    margin: auto;
    text-align: center;
  }
  & p {
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    margin: auto;
    color: $gray;
    width: 100%;
    max-width: 555px;
    margin-top: 20px;
  }
  & img {
    width: 100%;
    max-width: 1060px;
    height: 537px;
    margin-top: 156px;
    @include respond-to(medium-screens) {
      height: auto;
      margin-top: 80px;
    }
  }
}

.partners {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1135px;
  margin-top: 35px;
  @include respond-to(medium-screens) {
    justify-content: center;
  }
  &__partner-item {
    width: 100%;
    max-width: 200px;
    min-width: 200px;
    height: 112px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0px 5px 0px 5px;
    &--netflix {
      background-image: url("../img/netflix.svg");
    }

    &--reddit {
      background-image: url("../img/reddit.svg");
    }

    &--discord {
      background-image: url("../img/discord.svg");
    }

    &--spotify {
      background-image: url("../img/spotify.svg");
    }
  }
}

.customers {
  margin-top: 50px;
  padding: 0 7px;

  &__title {
    font-size: 35px;
    line-height: 50px;
    color: $black;
    text-align: center;
    width: 100%;
    max-width: 447px;
    margin: auto;
  }

  &__subtitle {
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    margin: auto;
    color: $gray;
    width: 100%;
    max-width: 555px;
    margin-top: 20px;
  }

  &__slider {
    display: flex;
    margin-top: 60px;
    width: 100%;
    overflow: hidden;

    &-item {
      width: 100%;
      max-width: 400px;
      min-width: 400px;
      padding: 15px;
      border: 2px solid $medium-grey;
      border-radius: 10px;
      margin-right: 50px;

      &--active {
        border: 2px solid $light-red;
      }

      &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
      }

      &-avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: red;
      }

      &-left-side {
        display: flex;
        align-items: center;
      }

      &-title {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        & h2 {
          font-size: 18px;
          line-height: 30px;
          color: $black;
        }

        & p {
          font-size: 14px;
          line-height: 30px;
          color: $gray;
        }
      }

      &-—Åappraisal {
        display: flex;
        align-items: center;
        & img {
          margin-left: 5px;
          width: 18px;
          height: 18px;
        }
      }

      &-content {
        margin-top: 16px;
        & p {
          font-size: 16px;
          line-height: 30px;
          color: $black;
        }
      }
    }
  }
  &__control-slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 85px;
    margin-bottom: 180px;
    @include respond-to(medium-screens) {
      margin-bottom: 0;
    }
    &-points {
      display: flex;
    }
    &-point {
      cursor: pointer;
      width: 15px;
      height: 15px;
      background-color: $light-grey-lighten;
      border-radius: 50%;
      margin-right: 15px;

      &--active {
        width: 45px;
        background-color: $light-red;
        border-radius: 15px;
      }
    }
    &-directions {
      display: flex;
      &-left {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        margin-right: 20px;
        border: 2px solid $light-red;
        border-radius: 50%;
      }

      &-right {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        background-color: $light-red;
        border-radius: 50%;
      }
    }
  }
}

.subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1140px;
  padding: 60px 70px;
  border-radius: 10px;
  background-color: $white;
  margin: auto;
  box-shadow: 0px 15px 54px rgba(13, 16, 37, 0.10);
  @include respond-to(medium-screens) {
    position: relative;
    margin-top: 20px;
    flex-direction: column;
  }

  & h2 {
    width: 100%;
    max-width: 370px;
    font-weight: 500;
    font-size: 35px;
    line-height: 45px;
    color: $black
  }

  & p {
    font-size: 16px;
    line-height: 30px;
    color: $gray;
    margin-top: 20px;
  }

  & button {
    width: 100%;
    max-width: 250px;
    padding: 18px 55px;
    background-color: $light-red;
    font-size: 16px;
    line-height: 25px;
    font-weight: bold;
    color: $white;
    border-radius: 10px;
    box-shadow: 0px 15px 54px rgba(245, 56, 56, 0.35);
    height: 60px;
    min-width: 250px;
  }
}

footer {
  background-color: $medium-grey-lighten;
  width: 100%;
  padding-top: 190px;
  padding-bottom: 100px;
  @include respond-to(medium-screens) {
    padding: 40px 5px 60px 5px;
  }
}

.footer {
  &-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1140px;
    margin: auto;
    @include respond-to(medium-screens) {
      flex-direction: column-reverse;
      align-items: center;
    }

    &__left {
      display: flex;
      flex-direction: column;
      & img {
        width: 149px;
        height: 36px;
      }
    }

    &__right {
      display: flex;
      width: 100%;
      max-width: 570px;
      &-list {
        width: 100%;
        max-width: 200px;
        & h4 {
          font-weight: 500;
          font-size: 18px;
          line-height: 30px;
          color: $black;
          margin-bottom: 20px;
        }
        & li {
          font-size: 16px;
          line-height: 30px;
          color: $gray;
          margin-bottom: 10px;
        }
      }
    }

    &__description {
      margin-top: 20px;
      width: 100%;
      max-width: 320px;
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;
      color: $black;
      & span {
        font-weight: 500;
      }
    }

    &__socials {
      display: flex;
      margin-top: 20px;
      margin-bottom: 20px;
      &-button {
        background-position: center;
        background-color: $light-red;
        width: 33px;
        height: 33px;
        border-radius: 50%;
        box-shadow: 0px 15px 54px rgba(13, 16, 37, 0.35);
        margin-right: 20px;
        &--facebook {
          background-image: url(../img/facebook.svg);
        }
        &--twitter {
          background-image: url(../img/twitter.svg);
        }
        &--instagram {
          background-image: url(../img/instagram.svg);
        }
      }
    }
    &__label {
      font-size: 16px;
      line-height: 30px;
      color: $grey-lighten;
    }
  }
}
