@import "./reset.scss";
@import "./fonts.scss";
@import "./colors.scss";

body {
  font-family: 'Rubik', sans-serif;
}

.main {
  width: 100%;
  max-width: 1140px;
  margin: auto;
  padding-top: 45px;
}

.header {
  width: 100%;
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &__logo {
    width: 100%;
    max-width: 149px;
    height: 37px;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  &__menu {
    width: 100%;
    max-width: 451px;
    & ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding-left: 0;
      & li {
        margin-right: 40px;
        & a {
          text-decoration: none;
          font-size: 16px;
          line-height: 19px;
          color: $gray;
        }
      }
    }
  }

  &__sign {
    display: flex;

    &-in {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: $black;
      margin-right: 30px;
    }

    &-up {
      padding: 13px 45px;
      color: $red;
      border: 1px solid $red;
      border-radius: 50px;
    }
  }
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 88px;
  &__left-side {
    width: 100%;
    max-width: 555px;
  }

  &__heading {
    color: $black;
    font-weight: 500;
    font-size: 50px;
    line-height: 70px;
    & span {
      font-weight: bold;
    }
  }

  &__description {
    margin-top: 20px;
    font-size: 16px;
    line-height: 30px;
    color: $gray;
  }

  &__get-started {
    background-color: $light-red;
    border-radius: 10px;
    color: $white;
    padding: 18px 78px;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    box-shadow: 0px 15px 54px rgba(245, 56, 56, 0.35);
    margin-top: 50px;
  }

  &__right-side {
    width: 100%;
    max-width: 611px;
    height: 382px;
    background-image: url("../img/hero.png");
    background-repeat: no-repeat;
    background-position: center;
  }
}
